
header h1{
    padding: 10px 20px;
}


@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

.navbar {
    margin-bottom: 24px;
}

.logo {
    width: 204px;
    height: 48px;
    margin: 16px auto;

    background-image:url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.tagline {
    color: #565656;
    text-align: center;
}

.app-modal{
    background-color: white;
    position: fixed;
    top: 15px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px 10px;
    border: solid 1px;
    border-radius: 6px;
    width: 85%;
    height: 60%;
}

.app-modal-close {
    cursor: pointer;
    text-align: right;
    padding: 10px 36px;
}

.app-item {
    position: relative;
    margin-bottom: 16px;
    /*min-height: 174px;*/
    border-radius: 8px;
    overflow: hidden;
}



.app-title-bar {
    display: none;
    position: absolute;
    background-color: black;

    padding: 10px 10px;
    left: 0;
    right: 0;
    bottom: 0;
    /*border-bottom-left-radius: 8px;*/
    /*border-bottom-right-radius: 8px;*/
}

.app-title {
    color: white;
}

.app-img {
    width: 100%;
}

.app-icon {
    display: inline-block;
    width: 26px;
    height: 26px;

    color: white;
    background-image:url("../images/platform-icons.png");
    background-size: cover;
}

.app-icons {
    text-align: right;
}

.icon-apple {
    background-position-x: -52px;
}

.icon-android {
    background-position-x: -26px;
}

.app-item:hover .app-title-bar {
    display:block;
    cursor: pointer;
}

.submit-item-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    float: left;
    height: 0;
}

.submit-item {
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.submit-item h3 {
    font-size: 24px;
    margin: 16px auto 32px;
}

.submit-link {
    display: block;
    padding: 32px 16px;

    color: #666;
    text-align: center;
}
.submit-link:hover, .submit-link:active {
    color: #333;
    text-decoration: none;
}

.mobile-filters {
    margin: 16px auto 32px;
}

.desktop-filter {
    display: none;
}
@media screen and (min-width: 992px) {

    .logo {
        margin-top: 32px;
    }

    .mobile-filters {
        display: none;
    }

    .desktop-filter {
        display: block;
    }

    .submit-item h3 {
        font-size: 14px;
        margin: 16px auto;
    }
}

@media screen and (min-width: 1200px) {


    .submit-item h3 {
        font-size: 24px;
        margin: 32px auto;
    }
}

.faq-list {

}

.faq-list li {
    margin-bottom: 32px;
}