
header h1{
    padding: 10px 20px;
}


@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

.navbar {
    margin-bottom: 24px;
}

.logo {
    width: 204px;
    height: 48px;
    margin: 16px auto;

    background-image:url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.tagline {
    color: #565656;
    text-align: center;
}

.app-modal__tagline {
    padding: 32px;
    background-color: #F8F8F8;
    border-radius: 8px;
    margin: 16px 0 32px;
}

.app-modal__coy {
    /*float: left;*/
}
.app-modal__platforms {
    background-color: #333;
    float: right;
    padding: 8px;
    border-radius: 8px;
    color: #F8F8F8;
}

.app-modal__platforms .app-icon {
    vertical-align: middle;
}

.app-modal__platforms > span {
    font-size: 12px;
    padding-right: 8px;
    line-height: 26px;
}

.app-modal__link {
    margin: 32px auto 0;
}

.app-item {
    position: relative;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #F8F8F8;
    cursor: pointer;
}

.app-title-bar {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 0.1s ease-out, height 0.1s ease-out;
    height: 50px;

    padding: 10px 10px;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.app-item:hover .app-title-bar {
    opacity: 1;
    height: 76px;
}

.app-title {
    color: white;
}

.app-img {
    width: 100%;
}

.app-icon {
    display: inline-block;
    width: 26px;
    height: 26px;

    color: white;
    background-image:url("../images/platform-icons.png");
    background-size: cover;
}

.app-icons {
    text-align: right;
}

.icon-apple {
    background-position-x: -52px;
}

.icon-android {
    background-position-x: -26px;
}

.app-item:hover .app-title-bar {
}

.submit-item-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    float: left;
    height: 0;
}

.submit-item {
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.submit-item h3 {
    font-size: 24px;
    margin: 16px auto 32px;
}

.submit-link {
    display: block;
    padding: 32px 16px;

    color: #666;
    text-align: center;
}
.submit-link:hover, .submit-link:active {
    color: #333;
    text-decoration: none;
}

.mobile-filters {
    margin: 16px auto 32px;
}

.desktop-filter {
    display: none;
}
@media screen and (min-width: 992px) {

    .logo {
        margin-top: 32px;
    }

    .mobile-filters {
        display: none;
    }

    .desktop-filter {
        display: block;
    }

    .submit-item h3 {
        font-size: 14px;
        margin: 16px auto;
    }
}

@media screen and (min-width: 1200px) {


    .submit-item h3 {
        font-size: 24px;
        margin: 32px auto;
    }
}

.copyright {
    text-align: center;
    margin-top: 48px;
    color:#BBB;
    font-size: 9pt;
    margin-bottom: 50px;
}

.faq-list {

}

.faq-list li {
    margin-bottom: 32px;
}

.loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    text-align: center;
    padding: 64px 128px;
}

/* CSS Spinner */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #FF0000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #FF0000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
