
header h1{
    padding: 10px 20px;
}


@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

.navbar {
    margin-bottom: 24px;
}

.header-desktop {
    display: none;
}

.header-mobile {
    margin-top: 16px;
}
@media screen and (min-width: 768px) {

    .header-desktop {
        display: block;
    }

    .header-mobile {
        display: none;
    }
}

.logo, .navbar__logo {
    width: 204px;
    height: 48px;
    margin: 32px auto 16px;

    background: url("../images/logo.png") no-repeat;
    background-size: cover;
}

.navbar__logo {
    height: 24px;
    width: 102px;
    margin: 0 0 0 -6px; /* Quick hack to align to nav bar items. */
}

.tagline {
    color: #565656;
    text-align: center;
}

.app-modal__tagline {
    padding: 32px;
    background-color: #F8F8F8;
    border-radius: 8px;
    margin: 16px 0 32px;
}

.app-modal__coy {
    /*float: left;*/
}
.app-modal__platforms {
    /*background-color: #333;*/
    float: right;
    padding: 0;
    border-radius: 8px;
    /*color: #F8F8F8;*/
}

.app-modal__platforms .app-icon {
    vertical-align: middle;
}

.app-modal__platforms > span {
    font-size: 12px;
    padding-right: 8px;
    line-height: 26px;
}

.app-modal__link {
    margin: 32px auto 0;
}

.app {
    margin-bottom: 24px;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.2s ease-out;
    background-color: #F2F2F2;
    cursor: pointer;
    box-shadow: 0 4px 24px rgba(0.3, 0.3, 0.3, 0.1);
}

.app__img-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    height: 0;
}

.app__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.app__meta {
    position: relative;
    height: 128px;
    padding: 16px;
    background-color: #F8F8F8;
    box-shadow: 0 6px 32px rgba(0, 0, 0, 0.4);
}

.app__title {
    height: 24px;
    margin-bottom: 8px;

    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-overflow: ellipsis;
    color: #333;
}

.app__subtitle {
    height: 36px;
    margin-bottom: 8px;

    font-size: 12px;
    font-weight: 200;
    line-height: 18px;
    color: #787878;
    overflow: hidden;
}

.app:hover {
    box-shadow: 0 4px 32px rgba(0.3, 0.3, 0.3, 0.4);
}

.app__icons {
    text-align: right;
    float: right;
    padding: 0;
    opacity: 0.5;
    transition: opacity 0.25s ease-out;
}
.app:hover .app__icons {
    opacity: 0.95;
}

.app__view {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.app:hover .app__view {
    display: block;
}

.app__view-icon {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    background: url('../images/icon-view-white.svg') no-repeat 50% 50% transparent;
    background-size: contain;
}

.app__icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;

    color: white;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-mobile-apple {background-image: url(../images/platform-ios.svg);}
.icon-mobile-android {background-image: url(../images/platform-android.svg);}
.icon-mobile-win {background-image: url(../images/platform-windows.svg);}
.icon-web {background-image: url(../images/platform-web.svg);}
.icon-desktop-win {background-image: url(../images/platform-windows.svg);}
.icon-desktop-mac {background-image: url(../images/platform-mac.svg);}
.icon-desktop-linux {background-image: url(../images/platform-linux.svg);}

.submit-item-wrapper {
    position: relative;
}

.submit-item-spacer {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
    height: 0;
}

.submit-item-spacer2 {
    height: 128px;
}

.submit-item {
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 32px;
}

.submit-item h3 {
    font-size: 32px;
    margin: 0 auto 32px;
}

.submit-link {
    display: block;
    padding: 32px 16px;

    color: #666;
    text-align: center;
}
.submit-link:hover, .submit-link:active {
    color: #333;
    text-decoration: none;
}

.mobile-filters {
    margin: 16px auto 32px;
}

@media screen and (max-width: 320px) {

    .mobile-filters button {
        font-size: 12px;
    }
}

@media screen and (min-width: 576px) {

    .submit-item { padding: 24px; }
    .submit-item h3 {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) {

    .submit-item h3 {
        /*font-size: 14px;*/
        margin: 16px auto;
    }
}

@media screen and (min-width: 1200px) {


    .submit-item h3 {
        font-size: 24px;
        margin: 32px auto;
    }
}

.copyright {
    text-align: center;
    margin-top: 48px;
    color:#BBB;
    font-size: 9pt;
    margin-bottom: 50px;
}

.faq-list {

}

.faq-list li {
    margin-bottom: 32px;
}

.loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    text-align: center;
    padding: 64px 128px;
}

/* CSS Spinner */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #FF0000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #FF0000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
